*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.spacing__container {
	height: 1px;
}


/* Add gutter*/
[class*='col-'] {
	padding-right: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

/* Add outside gutter */
.grid_pad {
	padding: 24px 0px 24px 24px;
}

.grid_pad > [class*='col-']:last-of-type {
	padding-right: 24px
}

/* Float all colums left */
[class*='col-'] {
	float: left;
}

/* Column width - entire width of parent element*/
.col-1-1 {
	width: 100%;
}

/* Column width - half parent element*/
.col-1-2 {
	width: 50%;
}

/* Column width - thirds*/

.col-2-3 {
	width: 66.66%;
}

.col-1-3 {
	width: 33.33%;
}

/* Column widths - quaters*/
.col-3-4 {
	width: 75%;
}

.col-2-4 {
	width: 50%;
}

.col-1-4 {
	width: 25%;
}

/* Column widths - 8ths*/

.col-7-8 {
	width: 87.5%;
}

.col-6-8 {
	width: 75% ;
}

.col-5-8 {
	width: 62.5%;
}

.col-4-8 {
	width: 50%;
}

.col-3-8 {
	width: 37.5% ;
}

.col-2-8 {
	width: 25%;
}

.col-1-8 {
	width: 12.5%;
}

/* Apply clearfix to all containers in grid*/
.grid:after {
  content: "";
  display: table;
  clear: both;
}
